body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: burlywood;
    color: #1f1f1f;
}

header{
    background-color: green;
    color: burlywood;
    padding: 1rem;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-btn{
    display: none;
    background-color: orange;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;

}

.intro{
    text-align: center;
    padding: 2rem;
}

.contact-btn{
    background-color: orange;
    border: none;
    padding: 1rem 2rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: orange;
    transform: scale(1.1);
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.project{
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project img{
    width: 100%;
    transition: transform 0.5s ease;
}

.project :hover img{
    transform: scale(1.1);
}

.project h3, .project p{
    margin: 0.5rem 0;
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: aquamarine;
    transition: left 0.3s ease;
    padding: 1rem;
    z-index: 10;
}

.sidebar.open{
    left: 0;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.close-menu{
    background-color: orange;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
}

@media (max-width: 768px){
    .nav-links {
        display: none;
    }
.menu-btn{
    display: block;
    position: absolute;
    left: 10px;
}
}
